//Variables
$brkPoint: (
    "2xl": 1920px,
    //desktop-big
    "xl": 1450px,
    //desktop
    "lg": 1100px,
    //laptop
    "md": 840px,
    //tablet
    "sm": 768px,
    //mobile
    "xs": 580px,
    //small
);

$color: (
    "dark": #000000,
    "primary": #503dc4,
    "white": #ffffff,
    "gray": #272727
);

$hover: (
    "gray": #757575
);
